.paragraphWrapper {
  background: #FFFFFF;
  border: 0.5px solid #C5CEE0;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px rgba(90, 113, 208, 0.107337);
  padding-bottom: 15px;
}

.paragraphTitle {
  padding: 0 15px;
  display: flex;
}

.paragrapNumber {
  padding-left: 15px;
}

.BtnNumber {
  width: 44px;
  height: 40px;
  background: rgba(197, 206, 224, 0.2);
  box-shadow: 0px 7px 64px rgba(25, 32, 56, 0.07);
  border: none;
  color: #C5CEE0;
  margin-right: 3px;
  cursor: pointer; 
}

.BtnNumber:hover {
  color: rgba(255, 255, 255, 0.8);
  background: #A5A6F6;
  box-shadow: 0px 7px 64px rgba(25, 32, 56, 0.07);
}