.search {
  background: #FFFFFF;
  border: 1px solid #E4E9F2;
  box-sizing: border-box;
  border-radius: 3px;
}

.searchInput {
  height: 40px;
  width: 374px;
  font-size: 14px;
  line-height: 24px;
  background: url(../img/search.svg) no-repeat 10px 10px;
  padding-left: 40px;
  border: none;
}

input.searchInput::placeholder {
  color: rgba(46, 58, 89, 0.3);
}

.searchBtn {
  background: url(../img/greysettings.svg) no-repeat -1px -1px;
  padding-bottom: 6px;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}