.container {
  display: flex;
}

.workflow {
  flex: 4;
  background: #EDF1F7;
  padding: 10px;
}

h4, h5 {
  color: #5D5FEF;
  padding-right: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 38px;
}

a{
  text-decoration: none;
}